body {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #fffef2;
}
.inline-block {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.margin-right-50 {
    margin-right: 50px;
}

.device-name {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
}
.readings li {
    list-style-type: none;
}

.readings .temperature {
    margin-left: 15px;
    margin-right: 15px;
}

.readings-section {
    margin-top: 20px;
}
